:root {
  --cyan: #17BF94;
}
* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "ubuntu", sans-serif;
}
.flexContainer {
  display: flex;
}
#home {
  background-color: black;
  background-image: linear-gradient(to left,#084A71,#007192,#00999E);
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
#introduction {
  color: white;
  font-size: 2em;
  text-align: center;
}
.highlight {
  color: var(--cyan);
}
button {
  font-size: 0.8em;
  background-color: Transparent;
  border-color: white;
  margin-top: 20px;
  padding: 10px 15px;
  color: white;
}
.fa-arrow-right {
  margin-left: 10px;
  font-size: 0.8em;
  transform: rotate(0deg);
  transition-duration: 0.5s;
}
button:hover {
  background-color: var(--cyan);
  border-color: var(--cyan);
}
button:hover > .fa-arrow-right{
  transform: rotate(90deg);
  transition-duration: 0.5s;
}
nav {
  background-color: #042C43;
  padding: 10px;
  border-bottom: 3px solid var(--cyan);
  z-index: 1;
}
.navItems {
  list-style-type: none;
  justify-content: flex-start;
  flex-wrap: wrap;
}
li a {
  color: white;
  text-decoration: none;
  padding: 0 30px;
}
li a:hover {
  color: var(--cyan) !important;
  transition-duration: 0.5s;
}

.navSticky {
  top: 0;
  position: fixed;
  width: 100%;
}
#portfolio {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color:red;
}
#contact {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: green;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "skills skills skills skills"
    "author author skillOverview skillOverview";
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}
.header {
  background-color: white;
  grid-area: header;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#titleAbout {
  font-size: 2.2em;
  opacity: 0;
  padding-bottom: 10px;
}
.underline {
  border-top: 4px solid black;
  width:60px;
  opacity: 0;
}
@keyframes solidAnim {
  from {
    opacity: 0;
    transform: translateX(-25vw);
  } to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.solidAnim {
  animation: solidAnim 1s forwards;
}
.skills {
  grid-area: skills;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill {
  padding-bottom: 20px;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}
  .skill > h2 {
    padding-top: 15px;
    text-align:center;
  }
  .skill > p {
    text-align:center;
  }
.octagon {
    width: 110px;
    height: 110px;
    background: var(--cyan);
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.octagon:before {
    content: "";
    width: 52px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid var(--cyan);
    border-left: 29px solid white;
    border-right: 29px solid white;
}

.octagon:after {
    content: "";
    width: 52px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid var(--cyan);
    border-left: 29px solid white;
    border-right: 29px solid white;
}
.fa-lightbulb {
  font-size: 50px;
  color: white;
}
.author {
  background-color: white;
  grid-area: author;
}
.skillOverview {
  background-color: red;
  grid-area: skillOverview;
}
