* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "ubuntu", sans-serif;
}
.flexContainer {
  display: flex;
}
#home {
  background-color: black;
  background-image: linear-gradient(to left,#084A71,#007192,#00999E);
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
#introduction {
  color: white;
  font-size: 2em;
  text-align: center;
}
.highlight {
  color: #17BF94;
}
button {
  font-size: 0.8em;
  background-color: Transparent;
  border-color: white;
  margin-top: 20px;
  padding: 10px 15px;
  color: white;
}
.fa-arrow-right {
  margin-left: 10px;
  font-size: 0.8em;
  transform: rotate(0deg);
  transition-duration: 0.5s;
}
button:hover {
  background-color: #17BF94;
  border-color: #17BF94;
}
button:hover .fa-arrow-right{
  transform: rotate(90deg);
  transition-duration: 0.5s;
}
nav {
  background-color: #042C43;
  padding: 10px;
  border-bottom: 3px solid #17BF94;
}
.navItems {
  list-style-type: none;
  justify-content: flex-start;
  flex-wrap: wrap;
}
li a {
  color: white;
  text-decoration: none;
  padding: 0 30px;
}
li a:hover {
  color: #17BF94 !important;
  transition-duration: 0.5s;
}

.navSticky {
  top: 0;
  position: fixed;
  width: 100%;
}
#portfolio {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color:red;
}
#contact {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: green;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "skill1 skill2 skill3 skill4"
    "author author skillOverview skillOverview";
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}
.header {
  background-color: yellow;
  grid-area: header;
  justify-content: center;
  align-items: center;
}
.titleAbout {
  opacity: 0;
}
.solidAnim {
  opacity: 100;
  transition-duration: 1s;
}
.skill1 {
  background-color: blue;
  grid-area: skill1;
}
.skill2 {
  background-color: green;
  grid-area: skill2;
}
.skill3 {
  background-color: purple;
  grid-area: skill3;
}
.skill4 {
  background-color: pink;
  grid-area: skill4;
}
.author {
  background-color: : white;
  grid-area: author;
}
.skillOverview {
  background-color: red;
  grid-area: skillOverview;
}
